<mat-toolbar color="primary">
    <span class="header-text">CNSD To Do App</span>
    <mat-form-field appearance="outline">
        <mat-label>Current Board</mat-label>
        <mat-select [(value)]="currentBoard" panelClass="board-select">
            <mat-option [value]="board" *ngFor="let board of boards">{{ board }}</mat-option>
          </mat-select>
    </mat-form-field>
    <span class="spacer"></span>
    <button mat-raised-button color="basic" class="header-button">Log in</button>
    <button mat-raised-button color="accent" class="header-button">Sign up</button>
</mat-toolbar>