<h2 mat-dialog-title *ngIf="dialogData.createMode">Create List:</h2>
<h2 mat-dialog-title *ngIf="dialogData.editMode">Edit List:</h2>

<form [formGroup]="listService.form" (ngSubmit)="onSubmit()" class="form" appearance="outline">
<div mat-dialog-content>
        <mat-form-field class="full-width-field">
            <mat-label>Id</mat-label>
            <input type="number" matInput formControlName="id">
        </mat-form-field>
        
        <mat-form-field class="full-width-field" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
            <mat-error>Name is required.</mat-error>
        </mat-form-field>
    </div>
    <mat-dialog-actions align="end">
        <button mat-raised-button (click)="onClose()">Cancel</button>
        <button *ngIf="dialogData.createMode" mat-raised-button color="primary" [disabled]="!listService.form.valid" type="submit">Create</button>
        <button *ngIf="dialogData.editMode" mat-raised-button color="primary" [disabled]="!listService.form.valid" type="submit">Edit</button>
    </mat-dialog-actions>
</form>